* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --cellSize: 100px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #89cff3;
}

header {
  width: 100%;
  background-color: #00a9ff;
  padding: 2vh 0;
  text-align: center;
  border-bottom: 2px solid black;
}

#newGameHeader {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#gameMessage {
  font-weight: bold;
}

#gameBoard {
  display: grid;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9";
  grid-template-rows: repeat(3, var(--cellSize));
  grid-template-columns: repeat(3, var(--cellSize));
  margin-bottom: 2rem;
}

.gameBoard__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid black;
  font-weight: bold;
}

.hoverEnabled:hover {
  background-color: #a0e9ff;
}

.gameBoard__cell[data-index="0"] {
  border-top: 0;
  border-left: 0;
}
.gameBoard__cell[data-index="1"] {
  border-top: 0;
}
.gameBoard__cell[data-index="2"] {
  border-top: 0;
  border-right: 0;
}
.gameBoard__cell[data-index="3"] {
  border-left: 0;
}
.gameBoard__cell[data-index="5"] {
  border-right: 0;
}
.gameBoard__cell[data-index="6"] {
  border-bottom: 0;
  border-left: 0;
}
.gameBoard__cell[data-index="7"] {
  border-bottom: 0;
}
.gameBoard__cell[data-index="8"] {
  border-bottom: 0;
  border-right: 0;
}

.cellMarker {
  width: 75%;
}

button {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #00a9ff;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 4px 4px black;
  font-weight: bold;
  cursor: pointer;
}

.winningCell {
  background-color: #39ff14;
}

.tieCell {
  background-color: #ff3131;
}

.aiControlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 60px;
  height: 25px;
  background: black;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 13px;
  height: 13px;
  background: #a0e9ff;
  border-radius: 100px;
  transition: 0.25s;
}

input:checked + label {
  background: #00a9ff;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

#newGameDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: var(--borderRadius);
  padding: 4vh 2vw;
  width: clamp(200px, 75vw, 400px);
  height: clamp(400px, 75vh, 800px);

  background-color: #cdf5fd;
}

.dialog__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.formMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.closeContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dialog__form__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#dialog__close:hover {
  cursor: pointer;
}
